{% extends "bootstrap/base.html" %}

{% block title %}Flaskr{% endblock %}

<!-- {% block styles %}
{{super()}}


{% endblock %}-->


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li>      {% if not session.logged_in %}
                    <a href="{{ url_for('flasky.login') }}">log in</a>
                  {% else %}
                    <a href="{{ url_for('flasky.logout') }}">log out</a>
                     <!-- </div> -->
                     {% endif %}</li>
                <li><a href="{{ url_for('flasky.show_all') }}">show</a></li>
                <li><a href="{{ url_for('flasky.upload_file') }}">upload</a></li>
                <li><a href="{{ url_for('flasky.about') }}">about</a></li>
                {% block course %}
                    <li>
                    <a href="{{ url_for('flasky.course') }}">多媒体</a>
                </li>
                {% endblock %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {{ super() }}

 <div class='container' >
     {% for message in get_flashed_messages() %}
       <div class="flash">{{ message }}</div>
     {% endfor %}
  {% block page_content %}{% endblock %}
</div>
{% endblock %}

